.slick-arrow {
    background-color:rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    height: 30px;
}
.slick-arrow:hover {
    background-color:rgba(0, 0, 0, 0.342);
}

.slick-slider {
    align-items: center;
    text-align: center;
    display: grid;
}

.show-list-movie {
//     box-shadow: 1px 1px 3px;
//     -moz-box-shadow: 1px 1px 3px;
//     -webkit-box-shadow: 1px 1px 3px;
//     -o-box-shadow: 1px 1px 3px;
//     -ms-box-shadow: 1px 1px 3px;
}