.slick-arrow {
    background-color:rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    height: 30px;
}
.slick-arrow:hover {
    background-color:rgba(0, 0, 0, 0.342);
}

.slick-slider {
    align-items: center;
    text-align: center;
    display: grid;
}

// .show-list-movie {
    
// }