.footer {
    background-color: #222222;
    height: 200px;
}
.iconConnect {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 15px 15px 0px;
}
.footer-text{
    color: white;
}
.app-icon {
    width: 35px;
    height: 35px;
}
.footer-content {
    padding-top: 30px;
}