

.show-movie{
    // background-image: url("https://wallpaperset.com/w/full/4/6/7/96482.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;

//     border: none;
//     box-shadow: 2px 2px 10px;
}
.search {
    margin:10px;
    width: 400px;
    margin-right: 0px;
}
.sear-form {
    float: right;
}
.calendar {
    margin-bottom: 50px;
}
.slick-dots {
    bottom: -2px !important;
}