.login-content {
    border: .5px solid;
    border-radius: 3px;
    top: 50px;
    box-shadow: 5px;
    width: 50%;

}
.login-content h3{
    text-align: center;
}
.form-content button{
    text-align: center !important;
    align-items: center !important;
    width: 70%;
    margin: 10px 47px !important;
}