.img-content{
    width: fit-content;
    
    
}

.img-item {
    max-width: fit-content !important;
    height: 100px !important;
    align-items: center !important;
    text-align: center !important;
}
.movie-title{
    text-align: center;
}