.search-content {
    width: 50px !important;
    
}
.input-group {
    border-radius: 20px;
    width: 50% !important;
}
.search-content {
    background-color: rgba(0,0,0,.05) !important;
    border-radius: 20px !important;
    top: 4px !important;
    width: 50px !important;
}