.logo-img {
    width: 70px;
    height: 70px;
    text-align: center;
}
.logo-content {
    text-align: center !important;
    border-right: .5px solid #dee2e6;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 15% !important;
    
}
.theater-nav {
    border-right: 1px solid #dee2e6;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 25% !important;
}
.theater-item {
    width:200px;
    display: grid;
    border-bottom: 1px solid;
    padding: 10px;
}
.theater-nav-item {
    height: 600px;
}
.theater-content {
    background-image: url("./../img/White-Background-Image-006.jpg");
    background-size: cover;
    border-top: none;
    box-shadow: 1px 1px 10px;
}
.address-content {
   border-bottom: 1px solid #dee2e6;
}
.name-cinema {
    overflow: hidden;
    margin-bottom: 0px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.address-cinema {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #949494;
    font-size: 14px;
}
.t-content {
    
}

