div label input {
  margin-right:100px;
}
body {
   font-family:sans-serif;
}

.checkbox {
  opacity: 0;
}

#ck-button{
  display: block;
   margin:4px;
   background-color:#EFEFEF;
   border-radius:4px;
   overflow:auto;
   float:left;
}


#ck-button label {
   width: 15px;
   height: 15px;
   float:left;

}

#ck-button label span {
   width: 15px;
   height: 15px;
   text-align:center;
   padding:3px 0px;
   display:block;
}

#ck-button label input{
   position:absolute;
   background-color: black;
   top:-20px;
}

#ck-button input:checked  +span{
   background-color:black;
   color:#fff;
}